* {
	box-sizing: border-box;
}

.row::after {
	content: "";
	clear: both;
	display: block;
}

[class*="col-"] {
	float: left;
	padding: 0;
	height: 100%;
}

html {
	font-family: "Ubuntu", sans-serif;
}

.header {
	color: #ffffff;
	padding: 0;
	height: 180px;
	overflow: hidden;
	  overflow-x: hidden;
	  overflow-y: hidden;
}

.header-overlay {
	position: absolute;
	display: block;
	top: 0px;
	height: 180px;
	width: 100%;
	overflow: hidden;
	  overflow-x: hidden;
	  overflow-y: hidden;
	background: -webkit-linear-gradient(rgba(8,98,127,0.65), rgba(8,98,127,0.05)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(8,98,127,0.65), rgba(8,98,127,0.05)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(8,98,127,0.65), rgba(8,98,127,0.05)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(8,98,127,0.65), rgba(8,98,127,0.05)); /* Standard syntax */	
}

.site-title {
	letter-spacing: 1.5px;
	margin-left: 175px;
	margin-top: 60px;
	padding: 0;
	color: #ffffff;
	font: bold 48px/58px 'Vollkorn', serif;
	text-transform: uppercase;
}

.logo {
	position: absolute;
	top: 8px;
	left: 8px;
    max-width: 100%;
}

.navigation {
	position: absolute;
	top: 112px;
	height: 68px;
	width: 100%;
}


ul {
	list-style-type: none;
	margin-top: 20px;
	margin-left: 295px;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 30px;
	font: 20px/28px 'Vollkorn', serif;
	text-decoration: none;
	letter-spacing: 3px;
	text-transform: uppercase;
}

li a:hover {
	text-color: #111;
}

.social {
	position: absolute;
	height: 20px;
	width: 600px;
	top: 10px;
	right: 0;	
}

.social-text {
	margin-right: 175px;
	letter-spacing: 1.5px;
	color: #fff;
	font: italic 16px/20px 'Vollkorn', serif;
}

.social-fb {
	position: relative;
	float: right;
	top: -18px;
	right: 175px;
}

.social-linkedin {
	position: relative;
	float: right;
	top: -18px;
	right: 130px;
}

.social-twitter {
	position: relative;
	float: right;
	top: -15px;
	right: 85px;
}

.social-insta {
	position: relative;
	float: right;
	top: -18px;
	right: 40px;
}

.sidebar{
	background-color: #F2F2F2;
	left: 0;
	height: 100%;
	overflow: scroll;
	z-index: -1;
}

.sidebar-title-block {
	position: relative;
	display: block;
	padding: 10px;
	padding-bottom: 2px;
	font: 36px/40px 'Vollkorn', serif;
	color: #333;
	text-transform: uppercase;
}

.sidebar-title-text {
	position: relative;
	display: block;
	padding: 0px;
	margin-left: 10px;
	margin-right: 10px;
	font: 14px/18px 'Ubuntu', sans-serif;
	color: #333;
	text-align: justify;
}

.sidebar-text-block {
	position: relative;
	display: block;
	top: 75px;
    bottom: 0;
}

.sidebar-text {
	position: relative;
	display: block;
	padding-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	font: 14px/18px 'Ubuntu', sans-serif;
	color: #333;
	text-align: justify;
}

.sidebar-control-group {
	position: relative;
	display: block;
    padding-top: 20px;
}

ol a {
	list-style-type: number;
	position: relative;
	display: block;
	padding: 0px;
	margin-left: 10px;
	margin-right: 10px;
	font: 14px/18px 'Ubuntu', sans-serif;
	color: #333;
	text-align: justify;	
}

/* Insert radio style here */

.sidebar-control-group-text {
	position: relative;
	display: block;
	margin-left: 50px;
	cursor: pointer;
}

.check-all-containter {
  width: 100%;
}
#check-all-agencies,
#check-all-subregions {
  position: relative;
  left: 20%;
}

 /* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding-bottom: 10px;
    overflow: hidden;
    border: none;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
	font: 12px/16px 'Ubuntu', sans-serif;
	color: #333;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

.map {
	height: 100%;
}

#link-group {
    font: 16px/20px 'Ubuntu', sans-serif;
    font-weight: 400;
    position: relative;
	display: block;
    top: 20px;
    left: 35px;
    z-index: 1;
    border-radius: 3px;
    max-width: 260px;
    color: #333;
}

.link-group input[type=checkbox]:first-child + label {
    border-radius: 10px 10px 0 0;
}

.link-group input[type=checkbox] {
    display: true;
}

.link-group input[type=checkbox] + label {
    background-color: #3386c0;
    display: block;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.link-group input[type=checkbox] + label {
    background-color: #3386c0;
    text-transform: capitalize;
}

.link-group input[type=checkbox] + label:hover, {color: #fff;}
.link-group input[type=checkbox]:checked + label {
    background-color: #4ea0da;
}

.link-group input[type=checkbox]:checked + label:after {
  content: '?';
  margin-right: 5px;
}



/* For desktop */
.col-1 {width: 12.5%;}
.col-2 {width: 25%;}
.col-3 {width: 37.5%;}
.col-4 {width: 50%;}
.col-5 {width: 62.5%;}
.col-6 {width: 75%;}
.col-7 {width: 87.5%;}
.col-8 {width: 100%;}



@media only screen and (max-width: 860px) {
	/* For mobile phones: */
	[class*="col-"] {
		width: 100%;
	}
/* ADD STYLING FOR MOBILE DEVICES	
.header {
	color: #ffffff;
	padding: 0;
	height: 180px;
	overflow: hidden;
	  overflow-x: hidden;
	  overflow-y: hidden;
	background-color: rgba(8,98,127,0.65);
}

*/	
	
}



