#body {
	font: 15px/24px 'Ubuntu', sans-serif;
}

#container {
	position: relative;
	height: 180px;
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.container::before {
	display: table;
	content: "";
	line-height: 0;
}

.container::after {
	display: table;
	content: "";
	clear: both;
}

.site-header {
	position: relative;
	height: 180px;
	overflow: hidden;
	  overflow-x: hidden;
	  overflow-y: hidden;	  
}

.navbar {
	position: absolute;
	top: 112px;
	height: 68px;
	width: 100%;
}

.overlay {
	position: absolute;
	top: 0px;
	height: 180px;
	width: 100%;
	background: -webkit-linear-gradient(rgba(8,98,127,0.65), rgba(8,98,127,0)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(8,98,127,0.65), rgba(8,98,127,0)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(8,98,127,0.65), rgba(8,98,127,0)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(8,98,127,0.65), rgba(8,98,127,0)); /* Standard syntax */	
}

.site-title {
	letter-spacing: 1.5px;
	margin-left: 175px;
	margin-top: 60px;
	padding: 0;
	color: #fff;
	font: bold 50px/60px 'Vollkorn', serif;
	text-transform: uppercase;
}

.social {
	position: absolute;
	height: 20px;
	width: 600px;
	top: 10px;
	right: 0;	
}

.social-text {
	margin-right: 175px;
	letter-spacing: 1.5px;
	color: #fff;
	font: italic 16px/20px 'Vollkorn', serif;
}

.social-fb {
	position: relative;
	float: right;
	top: -18px;
	right: 175px;
}

.social-linkedin {
	position: relative;
	float: right;
	top: -18px;
	right: 130px;
}

.social-twitter {
	position: relative;
	float: right;
	top: -15px;
	right: 85px;
}

.social-insta {
	position: relative;
	float: right;
	top: -18px;
	right: 40px;
}

#logo {
	position: absolute;
	top: 8px;
	left: 8px;
}

#map {
	position: absolute;
	top: 180px;
	bottom: 0px;
	left: 350px;
	right: 0;
}

ul {
	list-style-type: none;
	margin-top: 20px;
	margin-left: 350px;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 30px;
	font: 20px/28px 'Vollkorn', serif;
	text-decoration: none;
	letter-spacing: 3px;
	text-transform: uppercase;
}

li a:hover {
	text-color: #111;
}

#sidebar {
	position: absolute;
	display: block;
	top: 180px;
	bottom: 0px;
	width: 350px;
	background-color: F2F2F2;
}

.sidebar-title-block {
	position: relative;
	display: block;
	padding: 10px;
	padding-bottom: 2px;
	font: 36px/40px 'Vollkorn', serif;
	color: #333;
	text-transform: uppercase;
}

.sidebar-title-text {
	position: relative;
	display: block;
	padding: 0px;
	margin-left: 10px;
	margin-right: 10px;
	font: 14px/18px 'Ubuntu', sans-serif;
	color: #333;
	text-align: justify;
}

.sidebar-text-block {
	position: relative;
	display: block;
	top: 375px;
	height: 0;
}

.sidebar-text {
	position: relative;
	display: block;
	padding: 0px;
	margin-left: 10px;
	margin-right: 10px;
	font: 14px/18px 'Ubuntu', sans-serif;
	color: #333;
	text-align: justify;
}

#control-group {
	position: absolute;
	display: block;
	top: 300px;
	width: 350px;
	height: 320px;
}

/* Insert radio style here */

.control-group-text {
	position: absolute;
	display: block;
	top: 50px;
	margin-left: 50px;
	cursor: pointer;
}








